#education-component ul{
	padding-left: 0px;
	list-style: none;
}

#education-component li {
	padding-left: 20px;
}

#education-component .education-name {
	color: var(--secondary-color);
}

/* #education-component .school {
	color: var(--secondary-color);
} */

