.list-item p {
	display: inline;
	line-height: 2em;
}

.list-item .exp-container {
	/* margin-left: 10px; */
}

.exp-number {
	background-color: var(--tertiary-color-two);
	border-radius: 50%;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px dotted var(--secondary-color);
}

.list-item > .item-name {
	position: relative;
	left: -.5em;
}

.list-item .icon-wrapper {
	position: relative;
	left: -1em;
	color: var(--secondary-color);
}

.list-item .nested-list-item {
	max-height: 250px;
	overflow: auto;
}

.exp-container .exp-button button {
	color: var(--tertiary-color-one);
}